.title {
    font-size: 18pt;
    font-weight: bold;
    padding: 10px;
}
.note {
    padding-left: 5px;
    padding-right: 5px;
}
.prev {
    padding: 5px;
}
.next {
    padding: 5px;
}
.nav {
    position: fixed;
    top: 0;
    left: 50%;
    font-size: 20pt;
    padding: 10px;
    background: white;
    border-radius: 20px;
    opacity: 80%;
}
.nav a:link {
    text-decoration: none;
}
.chapter {
    margin: 20px;
    margin-top: 50px;
}
body {
    font-size: 16pt;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 70%;
}