.title {
    font-size: 18pt;
    font-weight: bold;
    padding: 10px;
}
.note {
    padding-left: 5px;
    padding-right: 5px;
}
.prev {
    padding: 5px;
}
.next {
    padding: 5px;
}
.nav {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20pt;
    padding: 10px;
    background: white;
    border-radius: 20px;
    opacity: 100%;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.55);
}
.nav a:link {
    text-decoration: none;
}
.chapter {

}
body {
    margin: 20px;
    font-size: 16pt;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 70%;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}